.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: -75px;
  left: 0;
  width: 100px;
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
